services:
  app:
    build: .
    container_name: php-app
    ports:
      - "8080:80"
    # Volumes garatzerakoan erabiltzen da.
    # volumes:
    #   - .:/var/www/html
    env_file: 
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=db
    depends_on:
      - db

volumes:
  db-data:
