services:
  app:
    build: .
    container_name: php-app
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Para desarrollar la app:
      # - .:/var/www/html

      # Inyección de certificados (Host -> Contenedor)
      - ./certs/web.crt:/etc/ssl/certs/web.crt
      - ./certs/web.key:/etc/ssl/private/web.key

      # Inyección de la config del sitio
      - ./apache-config/web.conf:/etc/apache2/sites-available/000-default.conf
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=db
    depends_on:
      - db

volumes:
  db-data:
